<html>
<head>
    <title>Lunch bot</title>
</head>
<body>

<h1>Lunch bot</h1>

<form action="/connect/facebook" method="POST">
    <input type="hidden" name="scope" value="user_posts"/>
    <div class="formInfo">
        <p>Looks like your bot isn't connected to Facebook. You'll need it to connect in order to fetch manu from
            page feeds.</p>
        <p>Click the button to connect this application with your Facebook
            account.</p>
    </div>
    <p>
        <button type="submit">Connect to Facebook</button>
    </p>
</form>

</body>
</html>